body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    margin-top: 30px;
}

#weekly-tasks,
#metric-converter {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
select {
    padding: 8px;
}

button {
    padding: 8px;
    margin-top: 10px;
}

#goal-message,
#conversion-result {
    margin-top: 20px;
    font-weight: bold;
}

#metric-converter {
    border: 2px solid #ccc;
}